<div class="container">
    <div class="flex-column-container search">
        <mat-form-field class="form-field">
            <input matInput
                type="text" 
                class="food-search"
                placeholder="Search foods ..."
                [(ngModel)]="searchText">
        </mat-form-field>
        <div class="flex-row-container search-controls">
            <button mat-flat-button
                class="main-button"
                (click)="onSubmit()"> SEARCH 
            </button>
            <button mat-stroked-button *ngIf="foodList.length > 0"
                class="clear-button cancel-button"
                (click)="onClearList()"> CLEAR 
            </button>
        </div>
    </div>

    <mat-paginator *ngIf="foodList.length > 0"
        [length]="foodList.length"
        [pageSize]="pageSize"
        [hidePageSize]="true"
        (page)="onPageChange($event)">
    </mat-paginator> 
    <h3 class="no-results-msg" *ngIf="errorMsg!==''"> {{errorMsg}} </h3>
    <div class="food-list">
        <mat-spinner *ngIf="isLoading" [diameter]="70"></mat-spinner>
        <app-foodbase-list-item
            *ngFor="let food of shownFoodList"
            [food]="food">
        </app-foodbase-list-item>
    </div>
</div>