.container {
    height: 595px;
}

.search {
    margin:auto;
    width: 80%;
}

.form-field {
    width: 100%;
}

.search-controls {
    justify-content: space-between;
}

.main-button, .clear-button {
    width: 20%;
}

mat-paginator {
    margin-top: 30px;
    background-color: transparent;
}
mat-spinner {
    margin: auto;
}
:host::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--main-color) !important;
  }

  .no-results-msg {
    text-align: center;
    margin-top: 20px;
}