.alert-container {
    padding: 20px;
}

h3 {
    text-align: center;
}

.buttons{
    justify-content: space-between;
    width:70%;
    margin:auto;
    margin-top: 15px;
}
.buttons > button {
    width:40%
}

@media screen and (max-width: 500px){
    .buttons {
        width: 100%;
    }
}