<div class="flex-column-container dialog-container">
    <h2>Confirm password</h2>
    <mat-divider></mat-divider>
    <i class="description">Please re-enter your password to continue</i>
    <form [formGroup]="passForm" (ngSubmit)="onSubmit()">
        <app-custom-password
            [passwordFormGroup]="passForm"
            controlName="password">
        </app-custom-password>
        <i class="server-error-message" *ngIf="error"> {{error}} </i>
        <div class="flex-row-container buttons">
            <button mat-flat-button class="warn-button" type="submit">DELETE</button>
            <button mat-stroked-button class="cancel-button" (click)="onCancel()" type="button">CANCEL</button>
        </div>
    </form>
</div>