<div class="dialog-container">
    <h2>Confirm password</h2>
    <mat-divider></mat-divider>
    <i class="description">Please re-enter your password to continue</i>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput 
            placeholder="Your password ..." 
            type="password"
            name="password"
            [(ngModel)]="password"
            required>
    </mat-form-field>
    <i class="server-error-message" *ngIf="error"> {{error}} </i>
    <div class="buttons">
        <button mat-flat-button class="submit-button" (click)="onEnterPassword()">DELETE</button>
        <button mat-stroked-button (click)="onCancel()">CANCEL</button>
    </div>
</div>