<div class="form-container">
    <form class="flex-column-container" [formGroup]="nameForm" (ngSubmit)="onSubmit()">
        <h2>Change Username</h2>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput 
                placeholder="Your username..." 
                type="text"
                name="name"
                formControlName="name">
            <mat-error *ngIf="nameFormControls['name'].errors && !nameFormControls['name'].pristine">Please enter a username</mat-error>
        </mat-form-field>
        
        <i class="server-error-message" *ngIf="error"> {{error}} </i>
        <button mat-flat-button type="submit" class="main-button">SUBMIT</button>
    </form>
</div>