.pass-form-container, .email-form-container {
    padding: 15px;
}

.description {
    margin-bottom: 10px;
}

.pass-buttons{
    justify-content: space-between;
    width:70%;
    margin:auto;
    margin-top: 15px;
}
.pass-buttons > button {
    width:40%
}

@media screen and (max-width: 500px) {
    .pass-buttons{
        width:100%;
    }
}