<div class="container">
    <div class="flex-column-container pass-form-container" *ngIf="!authorized; else emailFormTemp">
        <h2>Confirm Identity</h2>
        <mat-divider></mat-divider>
        <i class="description">Please re-enter your password to continue</i>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput 
                placeholder="Your password ..." 
                type="password"
                name="password"
                [(ngModel)]="password"
                required>
        </mat-form-field>
        <i class="server-error-message" *ngIf="error"> {{error}} </i>
        <div class="flex-row-container pass-buttons">
            <button mat-flat-button class="main-button" (click)="onEnterPassword()">CONTINUE</button>
            <button mat-stroked-button (click)="onCancel()">CANCEL</button>
        </div>
    </div>

    <ng-template #emailFormTemp>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="flex-column-container email-form-container">
            <i class="description">Enter your new email</i>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput 
                    placeholder="New email ..." 
                    type="email"
                    name="email"
                    formControlName="email">
                <mat-error *ngIf="!emailForm.get('email').valid && emailForm.get('email').touched">
                    Please enter a valid email
                </mat-error>
            </mat-form-field>
            <i class="server-error-message" *ngIf="error"> {{error}} </i>
            <div class="flex-row-container pass-buttons">
                <button mat-flat-button class="main-button" type="submit">SUBMIT</button>
                <button mat-stroked-button (click)="onCancel()">CANCEL</button>
            </div>
        </form>
    </ng-template>
</div>