.container{
    background-color: var(--main-color);
}

.nav-container {
    padding: 15px;
    margin: auto;
    width: 95%;
    justify-content: space-between;
}

.title {
    margin-top: 5%;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.menu-button{
    font-size: 110%;
}

.profile-link {
    color: black !important;
}

button, a {
    color :white !important;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
}
a:active, a:visited, a:link {
    text-decoration: none;
}

