/* profile overview */
h2 {
    text-align: left;
    margin: 0px;
}
.goals-title {
    justify-content: space-between;
    margin-bottom: 10px;
}
fa-icon {
    margin: 6px;
    font-size: 115%;
    color: var(--main-color);
}
fa-icon:hover {
    color: var(--hover-color);
    cursor: pointer;
}

/* proifle info */
.info-container {
    justify-content: space-between;
    margin-top: 20px;
}

.info-box {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 15px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}