<div class="container">
    <div class="tabs-container">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Overview">
                <div class="flex-column-container info-container">
                    <div class="info-box">
                        <div class="flex-row-container goals-title">
                            <h2>Your daily macro goals</h2>
                            <div class="icons">
                                <fa-icon [icon]="faPen" (click)="onUpdateMacros()"></fa-icon>
                                <fa-icon [icon]="faTrash" (click)="onDeleteMacros()"></fa-icon>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <app-macro-goals-display></app-macro-goals-display>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Profile Info">
                <div class="flex-column-container info-container">
                    <div class="info-box">
                        <app-name-form></app-name-form>
                    </div>
                    <div class="email form info-box">
                        <app-email-form></app-email-form>
                    </div>
                    <div class="password-form info-box">
                        <app-pass-form></app-pass-form>
                    </div>
                    <div class="delete-account info-box">
                        <app-delete-account></app-delete-account>
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>