<div class="container flex-column-container">
    <h2 class="title">Your Recipes</h2>
    <div class="add-button">
        <button mat-flat-button class="main-button" (click)="onAddRecipe()">+ ADD RECIPE</button>
    </div>
    <div class="list-container flex-column-container">
        <h3 class="list-error-message" *ngIf="emptyMessage!==''"> {{emptyMessage}} </h3>
        <app-recipe-list-item
            *ngFor="let recipe of recipeList"
            [recipe]="recipe"
            (deleted)="onRecipeDeleted($event)">
        </app-recipe-list-item>
    </div>
</div>