.container {
    margin-bottom: 5px;
}

mat-expansion-panel{
    padding-top: 20px;
    padding-bottom: 10px;
}

mat-panel-title {
    padding-bottom: 10px;
    margin-bottom: 0px;
}
mat-expansion-panel-header:hover {
    background-color: transparent !important;
}

@media screen and (max-width:500px) {
    mat-expansion-panel {
        min-height: 70px;
        padding-top: 30px;
    }

    mat-expansion-panel-header {
        margin-bottom: 10px;
    }
}