.drawer-container {
    height:91vh;
}

.sidenav-container {
    width: 180px;
    padding: 15px;
    border-right: 1px solid var(--link-color);
}
.main-container {
    height: 90vh;
}
.toggle-button{
    width: 5%;
    padding: 5px;
    /* border: 1px solid red; */
}
.toggle-button>button {
    margin-top: 10px;
}
.main-content {
    width: 95%;
    /* border: 1px solid; */
}

.link-list {
    margin-top: 10px;
    height: 90%;
}

.link-list > div {
    height: 45px;
}

.is-active {
    color: var(--main-color);
    font-weight: bold;
}

a {
    color: var(--link-color);
}

a:hover{
    cursor: pointer;
    text-decoration: none;
}
a:active, a:visited, a:link {
    text-decoration: none;
}

/* responsive */
@media screen and (max-width: 1250px) {
    .main-container {
        flex-direction: column;
    }
    .main-container > div {
        width: 100%;
    }
}