.nav-container {
    height: 600px;
}

.drawer-container {
    width: 180px;
    padding: 15px;
    border-right: 2px solid var(--link-color);
}

.link-list {
    margin-top: 10px;
    height: 90%;
}

.link-list > div {
    height: 45px;
}

.is-active {
    color: var(--main-color);
    font-weight: bold;
}

a {
    color: var(--link-color);
}

a:hover{
    cursor: pointer;
    text-decoration: none;
}
a:active, a:visited, a:link {
    text-decoration: none;
}

/* reactive? */