<div class="container">
    <app-header></app-header>
    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="sidenav-container" mode="side" (openedChange)="onOpenedChanged()">
          <div class="flex-column-container link-list">
            <div>
                <a [routerLink]="['']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon [icon]="faHouse"></fa-icon>
                    Home
                </a>
            </div>
            <div>
                <a [routerLink]="['recipes']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon [icon]="faBook"></fa-icon>
                    Recipe Discovery
                </a>
            </div>
            <div>
                <a [routerLink]="['foodbase']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
                    <fa-icon [icon]="faFood"></fa-icon>
                    Food Base Search
                </a>
            </div>
          </div>
        </mat-drawer>
      
        <mat-drawer-content>
            <div class="flex-row-container main-container">
                <div class="toggle-button">
                    <button type="button" mat-stroked-button (click)="onToggle()" class="cancel-button">
                        <fa-icon #faIcon [icon]="getIcon()"></fa-icon>
                    </button>
                </div>
                <div class="main-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
      
    </mat-drawer-container>      
</div>