<div class="password-container" [formGroup]="passwordFormGroup">
    <mat-form-field>
        <mat-label>{{labelText}}</mat-label>
        <div class="flex-row-container input-container">
            <input matInput
                [formControlName]="controlName"
                class="password-input"
                type="password"
                name="password"
                placeholder="Password ..."
                #passInput>
            <fa-icon [icon]="getIcon()" (click)="onShowPassword()"></fa-icon>
        </div>
        <mat-error *ngIf="isValid()">
            Please enter a valid password
        </mat-error>
    </mat-form-field>
</div>