.password-container {
    width: 100%;
}

fa-icon {
    margin: 8px;
    font-size: 110%;
    color: var(--hover-color);
}
fa-icon:hover {
    cursor: pointer;
}

.input-container > input {
    width: 95%;
}
.input-container > fa-icon {
    display:block;
    width: 5%;
}

mat-form-field {
    width: 100%;
}