/* content */
.food-content>div,h3 {
    margin-bottom: 0px;
}
.food-macros {
    width: 95%;
    margin-top: 8px;
    justify-content: space-between;
}
mat-divider{
    margin: 15px 0px 5px;
}
.food-percent-bars {
    width: 100%;
    justify-content: space-between;
}
.macro-bar {
    padding: 10px;
    flex: 0 0 25%;
}
.macro-bar>mat-progress-bar {
    width: 80%;
    margin-top: 5px;
}
/* bar colors */
:host ::ng-deep .calorie-bar .mdc-linear-progress__bar-inner {
    border-color: var(--calories-color) !important;
}
:host ::ng-deep .carbs-bar .mdc-linear-progress__bar-inner {
    border-color: var(--carbs-color) !important;
}
:host ::ng-deep .fat-bar .mdc-linear-progress__bar-inner {
    border-color: var(--fat-color) !important;
}
:host ::ng-deep .protein-bar .mdc-linear-progress__bar-inner {
    border-color: var(--protein-color) !important;
}