<div class="flex-column-container food-content">
    <div class="food-info">
        <h3>Macros per {{+grams | number: '1.2-2' }}g</h3>
        <div class="flex-row-container food-macros">
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Calories(kcal)"
                    color="--calories-color"
                    [macroValue]="shownNutrients.calories">
                </app-macro-display>
            </span>
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Protein(g)"
                    color="--protein-color"
                    [macroValue]="shownNutrients.protein">
                </app-macro-display>
            </span>
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Fat(g)"
                    color="--fat-color"
                    [macroValue]="shownNutrients.fat">
                </app-macro-display>
            </span>
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Carbs(g)"
                    color="--carbs-color"
                    [macroValue]="shownNutrients.carbs">
                </app-macro-display>
            </span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h3>Percent of daily goals</h3>
    <div class="flex-row-container food-percent-bars" *ngIf="macroGoals!==null; else altMacroText">
        <div class="macro">
            <app-percent-bar
                [macroPercentage]="foodPercentages.calories"
                macroName="Calories"
                colorClass="calories-bar">
            </app-percent-bar>
        </div>
        <div class="macro">
            <app-percent-bar
                [macroPercentage]="foodPercentages.protein"
                macroName="Protein"
                colorClass="protein-bar">
            </app-percent-bar>
        </div>
        <div class="macro">
            <app-percent-bar
                [macroPercentage]="foodPercentages.fat"
                macroName="Fat"
                colorClass="fat-bar">
            </app-percent-bar>
        </div>
        <div class="macro">
            <app-percent-bar
                [macroPercentage]="foodPercentages.carbs"
                macroName="Carbs"
                colorClass="carbs-bar">
            </app-percent-bar>
        </div>
    </div>
    <ng-template #altMacroText>
        <h3 class="list-error-message">You haven't added any Macro Goals yet.</h3>
    </ng-template>
</div>