<div class="flex-column-container food-content">
    <div class="food-info">
        <h3>Macros per {{+grams | number: '1.2-2' }}g</h3>
        <div class="flex-row-container food-macros">
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Calories(kcal)"
                    color="--calories-color"
                    [macroValue]="shownNutrients.calories">
                </app-macro-display>
            </span>
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Protein(g)"
                    color="--protein-color"
                    [macroValue]="shownNutrients.protein">
                </app-macro-display>
            </span>
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Fat(g)"
                    color="--fat-color"
                    [macroValue]="shownNutrients.fat">
                </app-macro-display>
            </span>
            <span class="food-macros-title">
                <app-macro-display
                    macroText="Carbs(g)"
                    color="--carbs-color"
                    [macroValue]="shownNutrients.carbs">
                </app-macro-display>
            </span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h3>Percent of daily goals</h3>
    <div class="flex-row-container food-percent-bars">
        <div class="flex-column-container macro-bar">
            <span>{{ foodPercentages.calories | number: '1.2-2' }}% Calories</span>
            <mat-progress-bar mode="determinate" [value]="foodPercentages.calories" class="calorie-bar"></mat-progress-bar>
        </div>
        <div class="flex-column-container macro-bar">
            {{ foodPercentages.protein | number: '1.2-2'}}% Protein
            <mat-progress-bar mode="determinate" [value]="foodPercentages.protein" class="protein-bar"></mat-progress-bar>
        </div>
        <div class="flex-column-container macro-bar">
            {{ foodPercentages.fat | number: '1.2-2'}}% Fat
            <mat-progress-bar mode="determinate" [value]="foodPercentages.fat" class="fat-bar"></mat-progress-bar>
        </div>
        <div class="flex-column-container macro-bar">
            <span>{{ foodPercentages.carbs | number: '1.2-2'}}% Carbs</span>
            <mat-progress-bar mode="determinate" [value]="foodPercentages.carbs" class="carbs-bar"></mat-progress-bar>
        </div>
    </div>
</div>