/* display */
.img-container{
    width: 15%;
    min-width: 70px;
}
.food-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.alt-photo {
    display: block;
    font-size: 150%;
    height: 100%;
    text-align: center;
}

.food-title {
    font-weight: normal;
    width: 85%;
}
.content {
    width: 85%;
}
.food-exta-info {
    margin-left: 5%;
}
.bold {
    font-weight: 600;
}

@media screen and (max-width:500px) {
    .img-container{
        min-width: 55px;
    }
    .food-title {
        font-size: 140%;
    }
    .food-exta-info {
        font-size: 80%;
    }
}