/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
    --main-color: #1E457C;
    --hover-color: #0f223e;
    --check-color: #00b300;
    --warn-color: #f44336;
    --warn-hover-color: #b71b1c;
    --link-color: #333;
    --calories-color: rgb(53,172,199);
    --carbs-color: rgb(35,118,115);
    --fat-color: rgb(129,6,144);
    --protein-color: rgb(245,182,19);

    --main-lighter1: #96c6e4;
    --main-lighter2: #bddbef;
  }

h2 {
  text-align: center;
}

/* buttons */
.main-button {
  background-color: var(--main-color) !important;
  color :white !important;
}
.main-button:hover {
  background-color: var(--hover-color) !important;
}

.warn-button {
  background-color: var(--warn-color) !important;
  color :white !important;
}

.warn-button:hover {
  background-color: var(--warn-hover-color) !important;
}

.cancel-button {
  border: 1px solid #aaa !important;
}

.plus-button {
  width: 40px !important;
}

/* containers */
.flex-row-container {
  display: flex;
  flex-direction: row;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

/* messages */
.server-error-message {
  font-size: 90%;
  color: var(--warn-color);
  padding-left: 10px;
}

.list-error-message {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}