.container {
    /* border: 1px solid; */
    height: 595px;
}

.search {
    margin:auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.form-field {
    width: 100%;
}

.search-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-button {
    background-color: var(--main-color) !important;
    color: white !important;
    width: 20%;
}
.search-button:hover {
    background-color: var(--hover-color) !important;
}
.clear-button{
    width: 20%;
}

mat-paginator {
    margin-top: 30px;
    background-color: transparent;
}
mat-spinner {
    margin: auto;
}
:host::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--main-color) !important;
  }