<div class="form-container">
    <form class="flex-column-container" [formGroup]="passForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" >
        <h2>Change Password</h2>

        <app-custom-password
            [passwordFormGroup]="passForm"
            controlName="currentPass">
        </app-custom-password>

        <app-custom-password
            [passwordFormGroup]="passForm"
            controlName="newPass">
        </app-custom-password>

        <app-custom-password
            [passwordFormGroup]="passForm"
            controlName="confirmPass">
        </app-custom-password>

        <i class="server-error-message" *ngIf="error"> {{error}} </i>
        <button mat-flat-button class="main-button" type="submit">SUBMIT</button>
    </form>
</div>