.password-form {
    display: flex;
    flex-direction: column;
}

.server-error-message {
    font-size: 90%;
    color: var(--warn-color);
    padding-left: 10px;
}

button {
    background-color: var(--main-color) !important;
    color :white !important;
    width: 30%;
    margin: auto;
    margin-top: 15px;
}