<div class="form-container">
    <form class="password-form" [formGroup]="passForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" >
        <h2>Change Password</h2>
        <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput 
                placeholder="Your username..." 
                type="password"
                name="password"
                formControlName="currentPass">
            <mat-error *ngIf="!passForm.get('currentPass').valid && passForm.get('currentPass').touched">
                Please enter your current password
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput 
                placeholder="Your username..." 
                type="password"
                name="password"
                formControlName="newPass">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput 
                placeholder="Your username..." 
                type="password"
                name="password"
                formControlName="confirmPass">
            <mat-error *ngIf="!passForm.get('confirmPass').valid && passForm.get('confirmPass').touched">
                Please confirm new password correctly
            </mat-error>
        </mat-form-field>

        <i class="server-error-message" *ngIf="error"> {{error}} </i>
        <button mat-flat-button type="submit">SUBMIT</button>
    </form>
</div>